@charset "UTF-8";

body {
	background-color: #F0FFFF
}

div#tableContainer {
	display: table;
	width:100%;
	border-spacing: 10px;
}

div#tableRow {
	display: table-row;
}

div#header {
	height: 100px;
	background-color: #ADD8E6;
	border-radius: 10px;
	margin: 0px;
	width : 100%;
}

.btn {
	margin-top: 30px;
	margin-right: 60px;
	padding-top: 0px;
	border-style: normal;
	border-width: thin;
	font-family: italic, verdana;
	text-align: center;
	float: right;
	border-radius: 5px;
	border-color: #00DEC1;
	color: rgb(0, 0, 70);
	background-color: #AFEEEE;
	width: 100px;
	height: 40px;
}

#hi{
	display : table-cell;
	height : 100%;
	width : 70%;
	vertical-align : top;
}

ul{
	border-radius : 10px;
}

.navelement{
	display: block;
	padding: 0px;
	background-color: #ADD8E6;
	color: rgb(0, 0, 70);
	transition-duration: 0.7s;
	text-align: center;
	width: 90%;
}

.navelement:hover{
	background-color: lightsteelblue;
	color : rgb(0, 0, 70);
	cursor : pointer;
	transform : translatex(20px);
}

.list{
	display: inline-block;
	width : 25%;
	margin: 0px 20px 20px 20px;
	font-family : sans-serif;
	background-color : #ADD8E6;
	border-radius: 10px;
	border-width : 0px;
	color : rgb(0, 0, 70);
	text-align : center;
}

.list:hover{
  scale: 1.15;
}

#filters{
	display : table-cell;
	vertical-align : top;
	width : 100%;
	float : left;
	border-radius : 10px; 
	background-color : #ADD8E6;
	text-align : center;
	color : rgb(0, 0, 70);
}

.filter{
	border-width: 0px;
	background-color : #ADD8E6;
	color : rgb(0, 0, 70);
}

.bookImage{
	padding : 10px 10px 20px 10px;
	margin : 10px 10px 10px 10px; 
}

#page{
	border : none;
	height : 100%;
	width : 100%;
}

#fil{
	border-radius : 10px;
	height : 100%;
	width : 30%;
	float : left;
}

#funcPage{
	padding : 10px;
	margin : 10px;
	height : 500px;
	width : 60%;
	float : right;
}

.l {
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  overflow: hidden;
  background-color: #F0FFFF;
}

.i {
  float: left;
}

.switch{
	border-radius: 10px;
	border-width: 2px;
	color : rgb(0, 0, 70);
	background-color: #AFEEEE;
	font-family: italic, verdana;
}

.i .switch {
  display: block;
  color: rgb(0, 0, 70);
  text-align: center;
  padding: 16px;
  margin: 6px;
  border-width: 1px;
  text-decoration: none;
  border-color: #00DEC1;
}

.i .switch:hover {
  scale: 1.15;
}

#content{
	width : 100%;	
}

.center {
	border-collapse : collapse;
	margin-top : 30px;
	margin-bottom : 30px;
	margin-left: 30%;
    margin-right: auto;
    width : 8em;
}

.cart-btn{
	margin-top: 30px;
	margin-right: 60px;
	padding-top: 0px;
	border-style: normal;
	border-width: thin;
	float: right;
	border-radius: 5px;
	width: 40px;
	height: 40px;
}

.bin-btn{
	margin-right: 60px;
	margin-left: 100px;
	padding-top: 0px;
	border-style: normal;
	border-width: thin;
	float: right;
	border-radius: 5px;
	width: 35px;
	height: 35px;
	z-index: 1;
}

#my-popup{
	text-align: center;
	Width: 300px;
	Height: 60px;
	Background: #F0FFFF;
	color : red;
	Box-sizing: border-box;
	margin-bottom : 8px;
	margin-top: 10px;
	padding-top : 20px;
	Position: relative;
	display:none;
	border-style: solid;
	border-color: red;
	border-radius: 30px;
	border-width: 1px;
}
