@charset "UTF-8";

body {
	background-color: #F0FFFF
}

div#tableContainer {
	display: table;
	width:100%;
	border-spacing: 10px;
}

div#tableRow {
	display: table-row;
}

div#header {
	height: 100px;
	background-color: #ADD8E6;
	border-radius: 10px;
	margin: 0px;
}

input.btn {
	margin-top: 30px;
	margin-right: 60px;
	padding-top: 0px;
	border-style: normal;
	border-width: thin;
	font-family: italic, verdana;
	text-align: center;
	float: right;
	border-radius: 5px;
	border-color: #00DEC1;
	color: rgb(0, 0, 70);
	background-color: #AFEEEE;
	width: 100px;
	height: 40px;
}

#hi{
	display : table-cell;
	height : 100%;
	width : 70%;
	vertical-align : top;
}


.list{
	display: inline-block;
	width : 25%;
	margin: 0px 20px 20px 20px;
	font-family : sans-serif;
	background-color : #ADD8E6;
	border-radius: 10px;
	color : rgb(0, 0, 70);
	text-align : center;
}

#filters{
	display : table-cell;
	vertical-align : top;
	width : 100%;
	float : left;
	border-radius : 10px; 
	background-color : #ADD8E6;
	text-align : center;
	color : rgb(0, 0, 70);
}